<h1>The pyramids</h1>
<p>First, let's take a look at the pyramids.</p>
<p>The pyramids actually looked white and shiny when they were first built.</p>
<p>They look yellowish now because they have eroded over time.</p>
<div style="display: flex">
  <div style="display: flex; flex-direction: column">
    <h2>Before</h2>
    <app-model-viewer ratio="0.4" modelName="Orig_Pyramid" brightness="1.25" zoom="4"></app-model-viewer>
  </div>
  <div style="display: flex; flex-direction: column; margin-left: 40px">
    <h2>After</h2>
    <app-model-viewer ratio="0.4" modelName="New_Pyramid" brightness="1.25" zoom="4"></app-model-viewer>
  </div>
</div>
<p>Although the pyramids look impressive from the outside, the inside is even more mind-blowing.</p>
<p>The pyramids were tombs for pharaohs, and they contained valuables and the pharaohs' sarcophagus, which were cases
  that contained the bodies of the pharaohs.</p>
<div style="display: flex">
  <div style="display: flex; flex-direction: column">
    <h2>A sarcophagus</h2>
    <app-model-viewer ratio="0.4" modelName="coff" brightness="1.25" zoom="4"></app-model-viewer>
  </div>
</div>
