<h1>Tutorial</h1>
<h2>Welcome to the tutorial!</h2>
<p>This website has 3D models, so you will need to learn how to use them.</p>
<p>You can practice on this donut.</p>
<app-model-viewer ratio="0.5" modelName="donut"></app-model-viewer>
<p>To start interacting with the model, move your mouse on top of the model.</p>
<p>Click and drag with the left mouse button to rotate the model.</p>
<p>Click and drag with the right mouse button to move the model.</p>
<p>You can also use the arrow keys to move the model.</p>
<p>Scroll up and down to zoom in and out.</p>
