<h1>Gallery of models</h1>
<div style="display: flex">
  <div style="display: flex; flex-direction: column">
    <h2>The pyramids when they were originally built</h2>
    <app-model-viewer ratio="0.4" modelName="Orig_Pyramid" [brightness]="1.25" [zoom]="4"></app-model-viewer>
  </div>
  <div style="display: flex; flex-direction: column; margin-left: 20px">
    <h2>The pyramids as they are now</h2>
    <app-model-viewer ratio="0.4" modelName="New_Pyramid" [brightness]="1.25" [zoom]="4"></app-model-viewer>
  </div>
</div>
