<div style="display: table; width: 100%; height: 100%">
  <mat-toolbar color="primary">
    <h1>Structures of Ancient Egypt</h1>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/how-to">How-To</button>
    <button mat-button routerLink="/structures">Structures</button>
    <button mat-button routerLink="/gallery">Model Gallery</button>
  </mat-toolbar>
  <div style="padding: 20px">
    <router-outlet></router-outlet>
  </div>
  <div style="display: table-footer-group">
    <mat-toolbar color="foreground">
      <div>
        <h1 style="display: inline-block; margin-right: 10px">Brought to you by <span
          style="font-size: 1.2em">Anut</span></h1>
        <a><img src="assets/googlepfp.gif" height="40"
                style="border-radius: 999px; display: inline-block; vertical-align: middle"/></a>
      </div>
      <div style="flex: 1"></div>
      <i>&copy;Copyright 2021 Anand Swaroop</i>
    </mat-toolbar>
  </div>
</div>
