<h1>Welcome to the structures of Ancient Egypt!</h1>
<p>In this website, you will learn about the Egyptian pyramids by looking at 3D models.</p>
<p>On the top of the screen, you will see a purple bar.</p>
<p>You can click on the links on the bar to go to different pages.</p>
<p>The Home link will take you back here.</p>
<p>The How-To link will show you how to view 3D models.</p>
<p>The Structures link will teach you about Ancient Egypt and show you 3D models.</p>
<p>The Gallery link will showcase just the 3D models.</p>
